<mat-toolbar class="toolbar-menu" color="primary">
    <div class="menu">
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Canciones</span>
    </div>
</mat-toolbar>

<app-skeleton-listado *ngIf="isLoading"/>

<div class="grid-container" *ngIf="!isLoading">
    <mat-card *ngFor="let cancion of canciones">
        <mat-card-header class="card-header" (click)="verDetalle(cancion.id)">
            <mat-card-title>{{ cancion.title }} ({{ cancion.year }})</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ cancion.poster }}" alt="{{ cancion.title }}">
        <mat-card-content>
            <mat-chip-list class="list-chips">
                <mat-chip *ngFor="let genero of cancion.genre">#{{ genero }}</mat-chip>
            </mat-chip-list>
            <p><strong>Duración:</strong> {{ cancion.duration }} segundos</p>
            <p><strong>Rating:</strong> ⭐ {{ cancion.rating }}</p>
        </mat-card-content>
    </mat-card>
</div>