<div class="skeleton-detalle">
    <mat-toolbar class="toolbar-menu" color="primary">
        <div class="menu">
            <div class="menu-skeleton"></div>
        </div>
    </mat-toolbar>

    <div class="card-skeleton">
        <div class="skeleton-title"></div>
        <div class="grupo-skeleton">
            <div class="skeleton-image"></div>
            <div class="data-skeleton">
                <div class="skeleton-duration"></div>
                <div class="skeleton-chips">
                    <div class="skeleton-chip"></div>
                    <div class="skeleton-chip"></div>
                </div>
                <div class="skeleton-duration"></div>
                <div class="skeleton-chips">
                    <div class="skeleton-chip"></div>
                    <div class="skeleton-chip"></div>
                </div>
                <div class="skeleton-rating"></div>
                <div class="skeleton-rating"></div>
                <div class="skeleton-rating"></div>
            </div>
        </div>

    </div>
</div>