<div class="skeleton-listado">
    <div class="grid-container">
        <div class="card-skeleton" *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]"> 
            <div class="skeleton-title"></div>
            <div class="skeleton-image"></div>
            <div class="skeleton-chips">
                <div class="skeleton-chip"></div>
                <div class="skeleton-chip"></div>
            </div>
            <div class="skeleton-duration"></div>
            <div class="skeleton-rating"></div>
        </div>
    </div>
    
</div>
