<app-skeleton-detalle *ngIf="isLoading" />

<ng-container  *ngIf="!isLoading">
    <mat-toolbar class="toolbar-menu" color="primary">
        <div class="menu">
            <button mat-icon-button (click)="redirect()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span >{{ cancion.title }} ({{artista.name}})</span>
        </div>
    </mat-toolbar>

    <div class="container-detalle">
        <mat-card *ngIf="cancion">
            <mat-card-header class="card-header">
                <mat-card-title>{{ cancion.title }} ({{ cancion.year }})</mat-card-title>
            </mat-card-header>
            <div class="img-mobile">
                <img mat-card-image [src]="cancion.poster" alt="{{ cancion.title }}">
            </div>
            <mat-card-content class="content-card">
                <div class="content-desktop">
                    <div class="img-desktop">
                        <img mat-card-image [src]="cancion.poster" alt="{{ cancion.title }}">
                    </div>
                    <div class="container-grupos" *ngIf="!isEdit">
                        <app-detalle-info [cancion]="cancion" [artista]="artista" [companias]="companias"/>
                    </div>
                    <div class="container-grupos" *ngIf="isEdit">
                        <app-detalle-edit [cancion]="cancion" [artista]="artista" [companias]="companias"
                        (onCancelar)="cancelar($event)"
                        (onGuardar)="guardar($event)"/>
                    </div>
                    
                </div>
                <div class="btn-action-edit" *ngIf="!isLoading && !isEdit">
                    <button mat-fab color="primary" (click)="editarCancion()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab color="warn" (click)="eliminarCancion()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</ng-container>

