<div class="skeleton-edit">
    <div class="skeleton-content">
        <div class="skeleton-form">

            <div class="skeleton-field"></div>
            <div class="skeleton-chips">
                <div class="skeleton-chip"></div>
                <div class="skeleton-chip"></div>
            </div>

            <div class="skeleton-field"></div>
            <div class="skeleton-chips">
                <div class="skeleton-chip"></div>
                <div class="skeleton-chip"></div>
            </div>

            <div class="skeleton-field"></div>
            <div class="skeleton-field"></div>
            <div class="skeleton-field"></div>

            <div class="skeleton-btn">
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>
    </div>
</div>