.grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 64px 20px 20px 20px;
    margin-top: 30px;

    .card-header {
        cursor: pointer;
    }

    .card-header:hover {
        opacity: 0.8;
    }

    .list-chips {
        .mat-mdc-chip {
            margin: 5px 0px 10px 5px;
        }
    }
}

.btn-action {
    position: fixed;
    bottom: 20px;
    right: 10px;

    .mat-icon {
        width: 35px;
        height: 35px;
        font-size: 35px;
    }
}


/* DETALLE*/
.container-detalle {
    position: relative;
    padding: 64px 20px 20px 20px;
    margin-top: 30px;

    .list-chips {
        .mat-mdc-chip {
            margin: 5px 0px 10px 5px;
        }
    }

    .content-desktop {
        .img-desktop {
            margin-right: 50px;
        }
    }

    .content-card {
        position: relative;
    }

    .grupo-valor {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .span-etiqueta {
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 500;
            color: #666666;
        }

        .span-value {
            margin-bottom: 5px;
        }

        hr {
            border: 1px solid #e0e0e0;
        }
    }
}

.btn-action-edit {

    button {
        margin-right: 5px;
    }

    .mat-icon {
        width: 35px;
        height: 35px;
        font-size: 35px;
    }
}


.card-header {
    padding: 10px !important;
}


@media screen and (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-header {
        justify-content: center;
    }

    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }

    .content-desktop {
        display: flex;
        justify-content: center;

        .container-grupos {
            min-width: 400px;
            max-width: 400px;
        }
    }
    .btn-action-edit {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .img-mobile {
        display: block;

        img {
            width: 100%;
        }
    }

    .img-desktop {
        display: none;
    }

    .content-desktop {
        width: 100%;
    }
    .btn-action-edit {
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        display: block !important;

        .mdc-card {
            margin-bottom: 20px;
        }
    }

    .img-mobile {
        display: block;

        img {
            width: 100%;
        }
    }

    .img-desktop {
        display: none;
    }

    .content-desktop {
        width: 100%;
    }
    .btn-action-edit {
        position: relative;
        margin-top: 10px;
        float: right;
    }
}